<!DOCTYPE html>
<html lang="ES">
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content="Sebastián Agredo Alegria: Web Developer - HTML5, CSS3, Javascript, Responsive Design">
	<title>Sebastián Agredo Alegria: Web Developer</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/normalize.css"/>
	<link rel="stylesheet" href="../static/css/stylesheet.css"/>
</head>
<body>
	<header class="Header">
		<figure class="Header_contenedorAvatar">
			<img src="../static/img/avatar.jpg" alt="Mi Avatar" title="Sebastián Agredo Alegria" class="Header_avatar">
			<figcaption class="Header_contenedorDescripcion">
				<h2 class="Header_descripcionNombre">Sebastián Agredo Alegria</h2>
				<p class="Header_descripcionTwitter"><em>@UnLadronHonrado</em></p>
			</figcaption>
		</figure>
		<nav class="Nav">
			<ul class="Nav_lista">
				<li class="Nav_itemLista"><a href="#" class="Nav_linkLista">Sobre mi</a></li>
				<li class="Nav_itemLista"><a href="#" class="Nav_linkLista">Skills</a></li>
				<li class="Nav_itemLista"><a href="#" class="Nav_linkLista">Trabajos</a></li>
				<li class="Nav_itemLista"><a href="#" class="Nav_linkLista">Proyectos Personales</a></li>
				<li class="Nav_itemLista"><a href="#" class="Nav_linkLista">Contacto</a></li>
			</ul>
		</nav>
		<aside class="Smedia">
			<figure class="Smedia_contenedorLogoF">
				<img src="../static/img/facebook_logo.png" alt="Logo de Facebook" title="Encuentrame en Facebook" class="Smedia_logoFacebook u-SmediaLogo">
			</figure>
			<figure class="Smedia_contenedorLogoT">
				<img src="../static/img/twitter_logo.png" alt="Logo de Twitter" title="Encuentrame en Twitter" class="Smedia_logoTwitter u-SmediaLogo">	
			</figure>
			<figure class="Smedia_contenedorLogoG">
				<img src="../static/img/github_logo.png" alt="Logo de GitHub" title="Encuentrame en GitHub" class="Smedia_logoGithub u-SmediaLogo">
			</figure>
		</aside>
	</header>	
	<section class="Overlord">
		<section class="Sobre-mi">
			<h2 class="Sobre-mi_titulo">Sobre mi</h2>
			<p>El camino del hombre recto esta por todos lados rodeado por las injusticias de los egoístas y la tiranía de los hombres malos. Bendito sea aquel pastor que en nombre de la caridad y de la buena voluntad saque a los debiles del Valle de la Oscuridad por que el es autentico guardian de su hermano y el descubridor de los niños perdidos. Y os aseguro que vendré a castigar con gran venganza y furiosa cólera a aquellos que pretendan envenenar y destruir a mis hermanos, y tu sabrás que mi nombre es Yahvé cuando caiga mi venganza sobre ti.</p>		
		</section>
		<section class="Skills">
			<h2 class="Skills_titulo">Skills</h2>
			<p>Llevo años diciendo esta mierda, y cuando alguien lo oía es que iba a morir. No había pensado mucho en lo que significaba, simplemente creía que era un rollo que le soltaba a algún hijo de puta antes de pegarle un tiro, pero esta mañana vi algo que me hizo pensar dos veces. Ahora se me ocurre que tal vez significa que tú eres el hombre malo, y yo el recto, y que el señor 9 mm es el pastor que protege mi recto culo en el valle de la oscuridad. O tal vez tú eres el el hombre recto, y yo el pastor, y que este mundo es injusto y egoísta. Me gustaría eso, pero ese rollo no es la verdad. La verdad es que tú eres el débil y yo la tiranía de los hombres malos. Pero me esfuerzo, Ringo, me esfuerzo con toda intensidad por ser el pastor.</p>
			<aside class="Skills_logos">
				<figure class="Skills_contenedorLogoH u-logosSkills">
					<img src="../static/img/html5_logo.png" alt="Logo de HTML5" class="Skills_logoHtml5">	
				</figure>
				<figure class="Skills_contenedorLogoC u-logosSkills">
					<img src="../static/img/css3_logo.svg" alt="Logo de CSS3" class="Skills_logoCss3">
				</figure>
				<figure class="Skills_contenedorLogoJ u-logosSkills">
					<img src="../static/img/js_logo.png" alt="Logo de Javascript" class="Skills_logoJs">
				</figure>
				<figure class="Skills_contenedorLogoJq u-logosSkills">
					<img src="../static/img/jquery_logo.png" alt="Logo de jQuery" class="Skills_logoJquery">
				</figure>
				<figure class="Skills_contenedorLogoN u-logosSkills">
					<img src="../static/img/nodejs_logo.png" alt="Logo de Node JS" class="Skills_logoNode">
				</figure>
				<figure class="Skills_contenedorLogosPy u-logosSkills">
					<img src="../static/img/python_logo.png" alt="Logo de Python" class="Skills_logoPython">
				</figure>
			</aside>
		</section>
		<section class="Trabajos">
			<h2 class="Trabajos_titulo">Trabajos</h2>

			<figure class="Trabajos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="TrabajosEjemplo">
				<figcaption class="Trabajos_contenedorDescripcion">
					<p class="Trabajos_descripcion1">Que es</p>
					<p class="Trabajos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
			<figure class="Trabajos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="TrabajosEjemplo">
				<figcaption class="Trabajos_contenedorDescripcion">
					<p class="Trabajos_descripcion1">Que es</p>
					<p class="Trabajos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
			<figure class="Trabajos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="TrabajosEjemplo">
				<figcaption class="Trabajos_contenedorDescripcion">
					<p class="Trabajos_descripcion1">Que es</p>
					<p class="Trabajos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
			<figure class="Trabajos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="TrabajosEjemplo">
				<figcaption class="Trabajos_contenedorDescripcion">
					<p class="Trabajos_descripcion1">Que es</p>
					<p class="Trabajos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
			<figure class="Trabajos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="TrabajosEjemplo">
				<figcaption class="Trabajos_contenedorDescripcion">
					<p class="Trabajos_descripcion1">Que es</p>
					<p class="Trabajos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
			<figure class="Trabajos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="TrabajosEjemplo">
				<figcaption class="Trabajos_contenedorDescripcion">
					<p class="Trabajos_descripcion1">Que es</p>
					<p class="Trabajos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
			<figure class="Trabajos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="TrabajosEjemplo">
				<figcaption class="Trabajos_contenedorDescripcion">
					<p class="Trabajos_descripcion1">Que es</p>
					<p class="Trabajos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
		</section>
		<section class="Proyectos">

			<h2 class="Proyectos_titulo">Proyectos Personales</h2>
			<figure class="Proyectos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="ProyectosEjemplo">
				<figcaption class="Proyectos_contenedorDescripcion">
					<p class="Proyectos_descripcion1">Que es</p>
					<p class="Proyectos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
			<figure class="Proyectos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="ProyectosEjemplo">
				<figcaption class="Proyectos_contenedorDescripcion">
					<p class="Proyectos_descripcion1">Que es</p>
					<p class="Proyectos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
			<figure class="Proyectos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="ProyectosEjemplo">
				<figcaption class="Proyectos_contenedorDescripcion">
					<p class="Proyectos_descripcion1">Que es</p>
					<p class="Proyectos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
			<figure class="Proyectos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="ProyectosEjemplo">
				<figcaption class="Proyectos_contenedorDescripcion">
					<p class="Proyectos_descripcion1">Que es</p>
					<p class="Proyectos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
			<figure class="Proyectos_contenedorEjemplo">
				<img src="../static/img/ejemplo.jpg" alt="Esto es un ejemplo" class="ProyectosEjemplo">
				<figcaption class="Proyectos_contenedorDescripcion">
					<p class="Proyectos_descripcion1">Que es</p>
					<p class="Proyectos_descripcion2">Que Hice</p>
				</figcaption>
			</figure>
		</section>
		<section class="Contacto">
			<h2 class="Contacto_titulo">- Contactame -</h2>
			<p class="Contacto_email">Enviame un Email a <a href="#" class="Contacto_emailLink">llzucholl@gmail.com</a></p>
		</section>
	</section>
<script src="../static/js/jquery-2.1.1.min.js"></script>
</body>
</html>